*{
font-family: "Tagesschrift", system-ui;
font-weight: 400;
font-style: normal;
scroll-behavior: smooth;
}

.bordelatde{
    border-right: 1px solid black;
}
.izquierda{
    position: fixed;
    top: 20;
    left: 0;
    height: 100%;
    width: 250px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 68px;
    z-index: 1000; /* Evita que otros elementos lo cubran */
}

body{
    padding-top: 68px;
    background: #ffca7c;
}

.bg-principal{
    background: #F79F1F;
}
.bg-segundario{
    background: #ffca7c;
}
.separacion{
    border-bottom: black solid 1px;
}
section{
    box-shadow: 0.1em 0.1em 1em black;
}
.btn{
    transition: all ease 0.25s;
}
.nav-item{
    text-align: center;
    width: 140px;
    transition: all ease 0.2s;
    border: solid #86511f00 1px;
    margin-right: 20px;
}
.bg-transparente{
    background: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.61) 1px;
}
.w-85{
    width:85%;
}
.w-10{
    width: 15%;
}
.card{
    transition: all ease 0.25s;
    border: 1px solid rgba(0, 0, 0, 0.596);
}

a{
    text-decoration: none;
    color: black;
}
.imgnav{
    border-radius: 100%;
    height: 90%;
    width: 90%;
    border: #5e3712 solid 1px;
    box-shadow: #86511f9d 3px 3px 10px;
}
.nav-item:hover,.card:hover,.btn:hover{
    border-radius:5%;
    border: solid #86511f 1px;
    box-shadow: #86511f9d 3px 3px 5px;
}
.card:hover,.btn:hover{
    transform: scale(1.05);
}
.decorartexto:hover{
    text-decoration: underline;
    background: rgba(175, 169, 169, 0.541);
    border: 1px solid rgba(0, 0, 0, 0.377);
}
.decorartexto{
    transition: all ease 0.2s;
}
/* inicio de media_query de todo */
@media (max-width: 768px) {
    body {
        padding-top: 100px; /* Ajusta según el tamaño del header en pantallas pequeñas */
    }
}
@media (min-width:900px) {
        .izquierda {
        width: 6.2em;
    }
}
@media (min-width:1200px) {
        .izquierda {
        width: 7.4em;
    }
}
@media (min-width:1400px) {
        .izquierda {
        width: 8.5em;
    }
}
@media (min-width:1600px) {
        .izquierda {
        width: 9.8em;
    }
}
@media (min-width:1800px) {
        .izquierda {
        width: 11em;
    }
}
/* fin de media query de todo */